#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  background-color: cadetblue;
}

.main-img {
  width: 10em;
  height: auto;
  border-radius: 50%;
}

.social-section {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.hyper-link-el {
  cursor: pointer;
}
